$colorBordes: black;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#contenido{
    text-align: center;
}
    #diseno{
        margin-top: 5px;
        color: yellow;
    }
    #empresa{
            margin-top: 5px;
            color: indianred;
        }
    #servidor{
            margin-top: 5px;
            color: dodgerblue;
        }
    #hlc{
            margin-top: 5px;
            color: skyblue;
        }
    #cliente{
            margin-top: 5px;
            color: darkseagreen;
    }
    #despliegue{
            margin-top: 5px;
            color: coral;
    }
    hr{
        border: 2px solid $colorBordes;
    }
#info{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
    table{
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 2px solid $colorBordes;
    }
    h2{
        text-decoration: underline;
    }
